.inputContainer {
  background-color: #49c5b6;
  margin: 50px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 35vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 5px;
  h1 {
    color: white;
  }

  form {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    input {
      width: 550px;
      padding-left: 10px;
      height: 50px;
      font-size: 16px;
    }
    #addUser {
      width: 200px;
      height: 50px;
      cursor: pointer;
      border-radius: 5px;
      transition: 300ms;
      border: #2779a7 1px solid;
      &:hover {
        background-color: #2779a7;
        color: whitesmoke;
      }
    }
  }
}
